In [1]:
import pandas as pd

In [4]:
csv_dataframe  = pd.read_csv('C:\\Users\\mirfa\\Desktop\\Irfan\\Datascience\\EDX\\DAT210x-master\\DAT210x-master\\Module1/tutorial.csv', sep=',')

In [5]:
csv_dataframe

       col0      col1      col2      col3
0 -0.722876 -1.330682  1.309208  0.232378
1  1.160396 -0.730879  0.677368  1.044722
2 -1.062870 -0.503704 -0.238536 -1.417937
3  0.437078  0.362640 -0.111228 -1.649853

In [6]:
csv_dataframe.head(2)

       col0      col1      col2      col3
0 -0.722876 -1.330682  1.309208  0.232378
1  1.160396 -0.730879  0.677368  1.044722

In [7]:
csv_dataframe.tail(2)

       col0      col1      col2      col3
2 -1.062870 -0.503704 -0.238536 -1.417937
3  0.437078  0.362640 -0.111228 -1.649853

In [8]:
df.head(2)

NameError: name 'df' is not defined

In [9]:
df = csv_dataframe

In [10]:
df.head(2)

       col0      col1      col2      col3
0 -0.722876 -1.330682  1.309208  0.232378
1  1.160396 -0.730879  0.677368  1.044722

In [11]:
df.describe()

           col0      col1      col2      col3
count  4.000000  4.000000  4.000000  4.000000
mean  -0.047068 -0.550656  0.409203 -0.447672
std    1.029715  0.701720  0.723956  1.300815
min   -1.062870 -1.330682 -0.238536 -1.649853
25%   -0.807875 -0.880830 -0.143055 -1.475916
50%   -0.142899 -0.617291  0.283070 -0.592780
75%    0.617907 -0.287118  0.835328  0.435464
max    1.160396  0.362640  1.309208  1.044722

In [12]:
df.columns

Index(['col0', 'col1', 'col2', 'col3'], dtype='object')

In [13]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [14]:
df.dtypes

col0    float64
col1    float64
col2    float64
col3    float64
dtype: object

In [18]:
df1  = pd.read_csv('C:\\Users\\mirfa\\Desktop\\Irfan\\Datascience\\EDX\\DAT210x-master\\DAT210x-master\\Module2\\Datasets//direct_marketing.csv', sep=',')

In [19]:
df1

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
0,10,2) $100 - $200,142.44,1,0,Surburban,0,Phone,Womens E-Mail,0,0,0.0,4
1,6,3) $200 - $350,329.08,1,1,Rural,1,Web,No E-Mail,0,0,0.0,11
2,7,2) $100 - $200,180.65,0,1,Surburban,1,Web,Womens E-Mail,0,0,0.0,1
3,9,5) $500 - $750,675.83,1,0,Rural,1,Web,Mens E-Mail,0,0,0.0,2
4,2,1) $0 - $100,45.34,1,0,Urban,0,Web,Womens E-Mail,0,0,0.0,4
5,6,2) $100 - $200,134.83,0,1,Surburban,0,Phone,Womens E-Mail,1,0,0.0,1
6,9,3) $200 - $350,280.20,1,0,Surburban,1,Phone,Womens E-Mail,0,0,0.0,4
7,9,1) $0 - $100,46.42,0,1,Urban,0,Phone,Womens E-Mail,0,0,0.0,1
8,9,5) $500 - $750,675.07,1,1,Rural,1,Phone,Mens E-Mail,0,0,0.0,5
9,10,1) $0 - $100,32.84,0,1,Urban,1,Web,Womens E-Mail,0,0,0.0,1
10,7,5) $500 - $750,548.91,0,1,Urban,1,Phone,Womens E-Mail,1,0,0.0,1
11,1,3) $200 - $350,211.45,0,1,Urban,1,Phone,Womens E-Mail,0,0,0.0,1
12,5,5) $500 - $750,642.90,0,1,Surburban,1,Multichannel,Womens E-Mail,0,0,0.0,1
13,2,2) $100 - $200,101.64,0,1,Urban,0,Web,Mens E-Mail,1,0,0.0,3
14,4,3) $200 - $350,241.42,0,1,Rural,1,Multichannel,No E-Mail,0,0,0.0,5
15,3,1) $0 - $100,58.13,1,0,Urban,1,Web,No E-Mail,1,0,0.0,6
16,5,1) $0 - $100,29.99,1,0,Surburban,0,Phone,Mens E-Mail,0,0,0.0,2
17,9,2) $100 - $200,112.35,1,0,Rural,0,Web,Mens E-Mail,0,0,0.0,2
18,11,3) $200 - $350,219.04,1,1,Surburban,0,Phone,Mens E-Mail,0,0,0.0,5
19,5,"6) $750 - $1,000",828.42,1,0,Surburban,1,Multichannel,Mens E-Mail,0,0,0.0,2
20,9,1) $0 - $100,29.99,0,1,Surburban,1,Phone,No E-Mail,0,0,0.0,5
21,11,2) $100 - $200,182.32,1,0,Surburban,0,Phone,Mens E-Mail,0,0,0.0,2
22,2,2) $100 - $200,118.40,1,0,Surburban,0,Web,Mens E-Mail,1,0,0.0,2
23,2,1) $0 - $100,29.99,0,1,Urban,1,Phone,No E-Mail,0,0,0.0,5
24,4,1) $0 - $100,78.24,1,0,Surburban,0,Web,No E-Mail,0,0,0.0,6
25,6,2) $100 - $200,139.87,0,1,Rural,1,Web,Mens E-Mail,0,0,0.0,3
26,12,2) $100 - $200,115.39,0,1,Surburban,0,Phone,Mens E-Mail,1,0,0.0,3
27,6,2) $100 - $200,162.98,0,1,Surburban,0,Web,Mens E-Mail,0,0,0.0,3
28,7,4) $350 - $500,435.73,0,1,Urban,1,Web,No E-Mail,0,0,0.0,5
29,2,3) $200 - $350,203.35,1,0,Rural,0,Web,No E-Mail,0,0,0.0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63970,4,2) $100 - $200,191.15,0,1,Surburban,1,Web,Womens E-Mail,0,0,0.0,1
63971,5,5) $500 - $750,549.87,0,1,Surburban,1,Phone,Womens E-Mail,0,0,0.0,1
63972,3,5) $500 - $750,554.97,0,1,Surburban,1,Web,No E-Mail,0,0,0.0,5
63973,8,4) $350 - $500,471.80,1,0,Surburban,1,Multichannel,Womens E-Mail,0,0,0.0,4
63974,8,1) $0 - $100,73.65,0,1,Surburban,0,Phone,Mens E-Mail,0,0,0.0,3
63975,10,"6) $750 - $1,000",883.92,1,0,Urban,1,Phone,No E-Mail,0,0,0.0,6
63976,1,5) $500 - $750,710.72,1,1,Urban,1,Phone,No E-Mail,0,0,0.0,11
63977,8,1) $0 - $100,29.99,0,1,Surburban,0,Web,No E-Mail,1,0,0.0,5
63978,10,2) $100 - $200,102.01,0,1,Urban,1,Phone,Mens E-Mail,0,0,0.0,3
63979,10,2) $100 - $200,168.21,0,1,Surburban,0,Phone,No E-Mail,0,0,0.0,5
63980,3,4) $350 - $500,487.10,0,1,Surburban,1,Phone,No E-Mail,0,0,0.0,5
63981,4,2) $100 - $200,125.53,0,1,Rural,1,Phone,No E-Mail,0,0,0.0,5
63982,5,1) $0 - $100,29.99,1,0,Urban,1,Phone,Mens E-Mail,0,0,0.0,2
63983,2,1) $0 - $100,83.03,0,1,Urban,0,Phone,No E-Mail,0,0,0.0,5
63984,2,3) $200 - $350,209.51,0,1,Urban,1,Web,Womens E-Mail,0,0,0.0,1
63985,9,1) $0 - $100,29.99,1,0,Urban,0,Phone,Mens E-Mail,1,0,0.0,2
63986,9,1) $0 - $100,35.26,0,1,Urban,1,Web,Womens E-Mail,0,0,0.0,1
63987,1,1) $0 - $100,79.70,1,0,Surburban,1,Web,No E-Mail,0,0,0.0,6
63988,6,1) $0 - $100,32.98,1,0,Surburban,0,Web,Mens E-Mail,0,0,0.0,2
63989,10,3) $200 - $350,304.30,1,1,Surburban,0,Web,Womens E-Mail,1,0,0.0,5
63990,6,1) $0 - $100,80.02,0,1,Surburban,0,Phone,No E-Mail,0,0,0.0,5
63991,1,3) $200 - $350,306.10,1,0,Surburban,1,Phone,Womens E-Mail,0,0,0.0,4
63992,1,5) $500 - $750,519.69,1,1,Urban,1,Phone,Mens E-Mail,0,0,0.0,5
63993,4,4) $350 - $500,374.07,0,1,Surburban,0,Phone,Womens E-Mail,0,0,0.0,1
63994,7,1) $0 - $100,86.46,0,1,Urban,0,Web,Mens E-Mail,0,0,0.0,3
63995,10,2) $100 - $200,105.54,1,0,Urban,0,Web,Mens E-Mail,0,0,0.0,2
63996,5,1) $0 - $100,38.91,0,1,Urban,1,Phone,Mens E-Mail,0,0,0.0,3
63997,6,1) $0 - $100,29.99,1,0,Urban,1,Phone,Mens E-Mail,0,0,0.0,2
63998,1,5) $500 - $750,552.94,1,0,Surburban,1,Multichannel,Womens E-Mail,0,0,0.0,4
63999,1,4) $350 - $500,472.82,0,1,Surburban,0,Web,Mens E-Mail,0,0,0.0,3

In [21]:
df1.head()

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
0,10,2) $100 - $200,142.44,1,0,Surburban,0,Phone,Womens E-Mail,0,0,0.0,4
1,6,3) $200 - $350,329.08,1,1,Rural,1,Web,No E-Mail,0,0,0.0,11
2,7,2) $100 - $200,180.65,0,1,Surburban,1,Web,Womens E-Mail,0,0,0.0,1
3,9,5) $500 - $750,675.83,1,0,Rural,1,Web,Mens E-Mail,0,0,0.0,2
4,2,1) $0 - $100,45.34,1,0,Urban,0,Web,Womens E-Mail,0,0,0.0,4

In [22]:
df1.recency

0        10
1         6
2         7
3         9
4         2
5         6
6         9
7         9
8         9
9        10
10        7
11        1
12        5
13        2
14        4
15        3
16        5
17        9
18       11
19        5
20        9
21       11
22        2
23        2
24        4
25        6
26       12
27        6
28        7
29        2
         ..
63970     4
63971     5
63972     3
63973     8
63974     8
63975    10
63976     1
63977     8
63978    10
63979    10
63980     3
63981     4
63982     5
63983     2
63984     2
63985     9
63986     9
63987     1
63988     6
63989    10
63990     6
63991     1
63992     1
63993     4
63994     7
63995    10
63996     5
63997     6
63998     1
63999     1
Name: recency, Length: 64000, dtype: int64

In [23]:
df1['recency']

0        10
1         6
2         7
3         9
4         2
5         6
6         9
7         9
8         9
9        10
10        7
11        1
12        5
13        2
14        4
15        3
16        5
17        9
18       11
19        5
20        9
21       11
22        2
23        2
24        4
25        6
26       12
27        6
28        7
29        2
         ..
63970     4
63971     5
63972     3
63973     8
63974     8
63975    10
63976     1
63977     8
63978    10
63979    10
63980     3
63981     4
63982     5
63983     2
63984     2
63985     9
63986     9
63987     1
63988     6
63989    10
63990     6
63991     1
63992     1
63993     4
63994     7
63995    10
63996     5
63997     6
63998     1
63999     1
Name: recency, Length: 64000, dtype: int64

In [24]:
df1[['recency']]

       recency
0           10
1            6
2            7
3            9
4            2
5            6
6            9
7            9
8            9
9           10
10           7
11           1
12           5
13           2
14           4
15           3
16           5
17           9
18          11
19           5
20           9
21          11
22           2
23           2
24           4
25           6
26          12
27           6
28           7
29           2
...        ...
63970        4
63971        5
63972        3
63973        8
63974        8
63975       10
63976        1
63977        8
63978       10
63979       10
63980        3
63981        4
63982        5
63983        2
63984        2
63985        9
63986        9
63987        1
63988        6
63989       10
63990        6
63991        1
63992        1
63993        4
63994        7
63995       10
63996        5
63997        6
63998        1
63999        1

[64000 rows x 1 columns]

In [26]:
df1.loc[:,'recency']

0        10
1         6
2         7
3         9
4         2
5         6
6         9
7         9
8         9
9        10
10        7
11        1
12        5
13        2
14        4
15        3
16        5
17        9
18       11
19        5
20        9
21       11
22        2
23        2
24        4
25        6
26       12
27        6
28        7
29        2
         ..
63970     4
63971     5
63972     3
63973     8
63974     8
63975    10
63976     1
63977     8
63978    10
63979    10
63980     3
63981     4
63982     5
63983     2
63984     2
63985     9
63986     9
63987     1
63988     6
63989    10
63990     6
63991     1
63992     1
63993     4
63994     7
63995    10
63996     5
63997     6
63998     1
63999     1
Name: recency, Length: 64000, dtype: int64

In [29]:
df1.loc[2:5, 'recency']

2    7
3    9
4    2
5    6
Name: recency, dtype: int64

In [31]:
df1.loc[2:7 ,['recency']]

   recency
2        7
3        9
4        2
5        6
6        9
7        9

In [35]:
df1.iloc[:,[4]]

       womens
0           0
1           1
2           1
3           0
4           0
5           1
6           0
7           1
8           1
9           1
10          1
11          1
12          1
13          1
14          1
15          0
16          0
17          0
18          1
19          0
20          1
21          0
22          0
23          1
24          0
25          1
26          1
27          1
28          1
29          0
...       ...
63970       1
63971       1
63972       1
63973       0
63974       1
63975       0
63976       1
63977       1
63978       1
63979       1
63980       1
63981       1
63982       0
63983       1
63984       1
63985       0
63986       1
63987       0
63988       0
63989       1
63990       1
63991       0
63992       1
63993       1
63994       1
63995       0
63996       1
63997       0
63998       0
63999       1

[64000 rows x 1 columns]

In [38]:
df1.ix[:, 1]

0          2) $100 - $200
1          3) $200 - $350
2          2) $100 - $200
3          5) $500 - $750
4            1) $0 - $100
5          2) $100 - $200
6          3) $200 - $350
7            1) $0 - $100
8          5) $500 - $750
9            1) $0 - $100
10         5) $500 - $750
11         3) $200 - $350
12         5) $500 - $750
13         2) $100 - $200
14         3) $200 - $350
15           1) $0 - $100
16           1) $0 - $100
17         2) $100 - $200
18         3) $200 - $350
19       6) $750 - $1,000
20           1) $0 - $100
21         2) $100 - $200
22         2) $100 - $200
23           1) $0 - $100
24           1) $0 - $100
25         2) $100 - $200
26         2) $100 - $200
27         2) $100 - $200
28         4) $350 - $500
29         3) $200 - $350
               ...
63970      2) $100 - $200
63971      5) $500 - $750
63972      5) $500 - $750
63973      4) $350 - $500
63974        1) $0 - $100
63975    6) $750 - $1,000
63976      5) $500 - $750
63977        1) $0 - $100
63978      2) $100 - $200
63979      2) $100 - $200
63980      4) $350 - $500
63981      2) $100 - $200
63982        1) $0 - $100
63983        1) $0 - $100
63984      3) $200 - $350
63985        1) $0 - $100
63986        1) $0 - $100
63987        1) $0 - $100
63988        1) $0 - $100
63989      3) $200 - $350
63990        1) $0 - $100
63991      3) $200 - $350
63992      5) $500 - $750
63993      4) $350 - $500
63994        1) $0 - $100
63995      2) $100 - $200
63996        1) $0 - $100
63997        1) $0 - $100
63998      5) $500 - $750
63999      4) $350 - $500
Name: history_segment, Length: 64000, dtype: object

In [61]:
df1[(df1.recency<7) & (df1.newbie == 0)]

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
11,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
12,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
13,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
14,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
15,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
16,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
19,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
22,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
23,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
24,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
25,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
27,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
29,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
30,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
32,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
34,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
35,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
36,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
37,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
41,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
43,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
44,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
46,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
47,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
48,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
50,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
55,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
57,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
59,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
61,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63949,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
63950,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
63953,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
63954,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
63955,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
63960,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
63961,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
63964,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
63966,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
63967,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
63969,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
63970,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
63971,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
63972,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
63976,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
63980,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
63981,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
63982,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
63983,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
63984,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
63987,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
63988,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
63990,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
63991,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
63992,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
63993,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
63996,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
63997,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
63998,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0
63999,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0

In [70]:
df1.loc[1:6, [df1.recency < 7]] = -100

ValueError: too many values to unpack (expected 1)

In [68]:
df1

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
0,10,2) $100 - $200,142.44,1,0,Surburban,0,Phone,Womens E-Mail,0,0,0.0,4
1,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
2,7,2) $100 - $200,180.65,0,1,Surburban,1,Web,Womens E-Mail,0,0,0.0,1
3,9,5) $500 - $750,675.83,1,0,Rural,1,Web,Mens E-Mail,0,0,0.0,2
4,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
5,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
6,9,3) $200 - $350,280.20,1,0,Surburban,1,Phone,Womens E-Mail,0,0,0.0,4
7,9,1) $0 - $100,46.42,0,1,Urban,0,Phone,Womens E-Mail,0,0,0.0,1
8,9,5) $500 - $750,675.07,1,1,Rural,1,Phone,Mens E-Mail,0,0,0.0,5
9,10,1) $0 - $100,32.84,0,1,Urban,1,Web,Womens E-Mail,0,0,0.0,1
10,7,5) $500 - $750,548.91,0,1,Urban,1,Phone,Womens E-Mail,1,0,0.0,1
11,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
12,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
13,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
14,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
15,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
16,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
17,9,2) $100 - $200,112.35,1,0,Rural,0,Web,Mens E-Mail,0,0,0.0,2
18,11,3) $200 - $350,219.04,1,1,Surburban,0,Phone,Mens E-Mail,0,0,0.0,5
19,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
20,9,1) $0 - $100,29.99,0,1,Surburban,1,Phone,No E-Mail,0,0,0.0,5
21,11,2) $100 - $200,182.32,1,0,Surburban,0,Phone,Mens E-Mail,0,0,0.0,2
22,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
23,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
24,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
25,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
26,12,2) $100 - $200,115.39,0,1,Surburban,0,Phone,Mens E-Mail,1,0,0.0,3
27,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
28,7,4) $350 - $500,435.73,0,1,Urban,1,Web,No E-Mail,0,0,0.0,5
29,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63970,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
63971,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
63972,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
63973,8,4) $350 - $500,471.80,1,0,Surburban,1,Multichannel,Womens E-Mail,0,0,0.0,4
63974,8,1) $0 - $100,73.65,0,1,Surburban,0,Phone,Mens E-Mail,0,0,0.0,3
63975,10,"6) $750 - $1,000",883.92,1,0,Urban,1,Phone,No E-Mail,0,0,0.0,6
63976,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
63977,8,1) $0 - $100,29.99,0,1,Surburban,0,Web,No E-Mail,1,0,0.0,5
63978,10,2) $100 - $200,102.01,0,1,Urban,1,Phone,Mens E-Mail,0,0,0.0,3
63979,10,2) $100 - $200,168.21,0,1,Surburban,0,Phone,No E-Mail,0,0,0.0,5
63980,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
63981,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
63982,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
63983,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
63984,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
63985,9,1) $0 - $100,29.99,1,0,Urban,0,Phone,Mens E-Mail,1,0,0.0,2
63986,9,1) $0 - $100,35.26,0,1,Urban,1,Web,Womens E-Mail,0,0,0.0,1
63987,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
63988,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
63989,10,3) $200 - $350,304.30,1,1,Surburban,0,Web,Womens E-Mail,1,0,0.0,5
63990,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
63991,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
63992,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
63993,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
63994,7,1) $0 - $100,86.46,0,1,Urban,0,Web,Mens E-Mail,0,0,0.0,3
63995,10,2) $100 - $200,105.54,1,0,Urban,0,Web,Mens E-Mail,0,0,0.0,2
63996,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
63997,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
63998,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
63999,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100

In [64]:
df2.recency

0    10
1     5
2     7
3     9
4     5
5     5
Name: recency, dtype: int64

In [71]:
df = pd.DataFrame({'vertebrates':[
 'Bird',
 'Bird',
 'Mammal',
 'Fish',
 'Amphibian',
 'Reptile',
 'Mammal',
 ]})

In [72]:
df

  vertebrates
0        Bird
1        Bird
2      Mammal
3        Fish
4   Amphibian
5     Reptile
6      Mammal

In [74]:
df['vertebrates'] = df.vertebrates.astype("category").cat.codes

In [75]:
df

   vertebrates
0            1
1            1
2            3
3            2
4            0
5            4
6            3

In [78]:
df = pd.DataFrame({'vertebrates':[
 'Bird',
 'Bird',
 'Mammal',
 'Fish',
 'Amphibian',
 'Reptile',
 'Mammal',
 ]})

In [79]:
df = pd.get_dummies(df,columns=['vertebrates'])

In [80]:
df

,vertebrates_Amphibian,vertebrates_Bird,vertebrates_Fish,vertebrates_Mammal,vertebrates_Reptile
0,0,1,0,0,0
1,0,1,0,0,0
2,0,0,0,1,0
3,0,0,1,0,0
4,1,0,0,0,0
5,0,0,0,0,1
6,0,0,0,1,0

In [84]:
from sklearn.feature_extraction.text import CountVectorizer

In [85]:
corpus = [
 "Authman ran faster than Harry because he is an athlete.",
  "Authman and Harry ran faster and faster.",
]

In [86]:
bow = CountVectorizer()

In [87]:
X = bow.fit_transform(corpus) # Sparse Matrix

In [88]:
bow.get_feature_names()

['an',
 'and',
 'athlete',
 'authman',
 'because',
 'faster',
 'harry',
 'he',
 'is',
 'ran',
 'than']

In [89]:
X.toarray()

array([[1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [0, 2, 0, 1, 0, 2, 1, 0, 0, 1, 0]], dtype=int64)