# DAT210x - Programming with Python for DS

## Module2 - Lab3

In [1]:
# Import and alias Pandas
import pandas as pd

Often, you will want to load a dataset that is missing explicit header labels. You won't know if your data lacks headers or not unless you load it up and examine the headers to see if they make sense. Pandas by default reads in the first row of data as the header. If that isn't the case for your specific data set, you will lose your first data row. Be careful!

Load up the `Servo.data` dataset. Examine the headers, and adjust them as necessary, if need be.

In [20]:
# .. your code here ..
df = pd.read_csv('Datasets\\servo.data',header=None)
df.head()
df.columns=['motor', 'screw', 'pgain', 'vgain', 'class']
df.head()

  motor screw  pgain  vgain     class
0     E     E      5      4  0.281251
1     B     D      6      5  0.506252
2     D     D      4      3  0.356251
3     B     A      3      2  5.500033
4     D     B      6      5  0.356251

Let's try experimenting with some slicing. Create a slice that contains all entries that have a vgain equal to 5. Then print the length of (# of samples in) that slice:

In [26]:
# .. your code here ..
# df_vgain = df[df.vgain==5] or we can use the below syntax as well.
df_vgain = df[df['vgain']==5]
len(df_vgain)

22

Create a slice that contains all entries having a motor equal to E and screw equal to E. Then print the length of (# of samples in) that slice:

In [32]:
# .. your code here ..
df_motor_screw = df[(df.motor =='E') & (df.screw == 'E')]
len(df_motor_screw)

6

Create a slice that contains all entries having a pgain equal to 4. Use one of the various methods of finding the mean vgain value for the samples in that slice. Once you've found it, print it:

In [34]:
# .. your code here ..
df_pgain = df[df.pgain == 4]
df_pgain.describe()

       pgain      vgain      class
count   66.0  66.000000  66.000000
mean     4.0   2.060606   0.673298
std      0.0   0.820484   0.314105
min      4.0   1.000000   0.131250
25%      4.0   1.000000   0.365627
50%      4.0   2.000000   0.712504
75%      4.0   3.000000   0.956256
max      4.0   3.000000   1.218740

Here's a bonus activity for you. See what happens when you display the `.dtypes` property of your dataframe!

In [36]:
# .. your code here ..
df.dtypes

motor     object
screw     object
pgain      int64
vgain      int64
class    float64
dtype: object